@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.App{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App > *{
    margin-top: 2%;
    min-width: 400px;
    height: fit-content;
}
.Transactions-cont > ul{
    display: flex;
    flex-direction: column;
}
.transaction-item{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40% 20%;
}