@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}